<p id="notice"><%= notice %></p>

<h1>Urls</h1>
<h2>Short URLs</h2>

<table>
  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><a href=<%= url.long_url %>><%= url.short_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New URL', new_url_path %>
